<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav">
    <wm-nav name="leftnavigation" type="pills" layout="stacked">
        <wm-nav-item name="list_dashboard">
            <wm-anchor caption="Dashboard" name="dashboardLink" iconclass="wi wi-bar-graph"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_order">
            <wm-anchor caption="Team Members" name="orderLink" iconclass="wi wi-file" on-click="Variables.goToPage_MembersPage.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_inventory">
            <wm-anchor caption="Inventory" name="inventoryLink" iconclass="wi wi-tag"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_support">
            <wm-anchor caption="Support Calls" name="supportLink" iconclass="wi wi-envelope"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>